nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  background: var(--clr-white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100%;
}
.logo-container {
  display: flex;
  align-items: center;
}

.sidebar-toggle {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--clr-grey-5);
  transition: var(--transition);
  margin-left: 0rem;
}
input {
  padding: 0.5rem;
  align-self: flex-start;
  border: none;
  border-radius: var(--radius);
  margin-left: 1rem;
  font-size: 1rem;
  color: var(--clr-grey-5);
  background: var(--clr-grey-10);
  
}

.nav-icons {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
  cursor: pointer;
  margin-right: 2rem;
}

.profile-container {
  display: flex;
  align-items: center;
}
