.card-container {
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  margin-left: 2%;
    margin-right: 2%;
}

.card {
  background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    transition: 0.3s;
}

.card-img {
  width: 100%;
    height: 200px;
    border-radius: 5px;
}

.card-title {
  font-size: 1.2rem;
  margin-top: 1rem;
    cursor: pointer;
}

.card-reviews {
  display: flex;
  align-items: center;
    margin-top: 0.5rem;
}

.rating-star {
  color: #f1c40f;
}

.total-reviews {
  margin-left: 0.5rem;
    color: #535353;
}

.card-price {
  font-size: 1.2rem;
    margin-top: 0.5rem;
    color: #535353;
}

.add-to-cart {
  font-size: 1.2rem;
  color: #535353;
  cursor: pointer;
  transition: 0.3s;
}

.add-to-cart:hover {
  color: #f1c40f;
}

.cart-add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  background: none;
  border: none;
  padding: 0;
}

.cart-add[disabled] .add-to-cart {
  color: #702323; /* Change this color to your desired disabled color */
  cursor: not-allowed;
  background-color: white;
}

.cart-add[disabled] .add-to-cart:hover {
  color: #702323;
}

/* Add styles to make it look like Amazon's add to cart button */
.add-to-cart-button {
  background-color: #ffd814;
  border: 1px solid hsl(50, 100%, 49%);
  border-radius: 6rem;
  padding: 0.5rem 4rem;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

.add-to-cart-button:hover {
  background-color: #fcd200;
}
