.card-container {
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  margin-top: 2rem;
  margin-left: 2%;
    margin-right: 2%;
}

.card {
  background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    transition: 0.3s;
}

.card-img {
  width: 100%;
    height: 200px;
    border-radius: 5px;
    cursor: pointer;
}

.card-title {
  font-size: 1.2rem;
  margin-top: 1rem;
    cursor: pointer;
}

.card-reviews {
  display: flex;
  align-items: center;
    margin-top: 0.5rem;
}

.rating-star {
  color: #f1c40f;
}

.total-reviews {
  margin-left: 0.5rem;
    color: #535353;
}

.card-price {
  font-size: 1.2rem;
    margin-top: 0.5rem;
    color: #535353;
}

.bag-icon {
  font-size: 1.5rem;
  color: #535353;
  cursor: pointer;
    transition: 0.3s;
  }
  
  .bag-icon:hover {
    color: #f1c40f;
  }
  
  .bag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
